/*********************************************************************
*                    SEGGER Microcontroller GmbH                     *
*                        The Embedded Experts                        *
**********************************************************************
*                                                                    *
*            (c) 2014 - 2023 SEGGER Microcontroller GmbH             *
*                                                                    *
*       www.segger.com     Support: support@segger.com               *
*                                                                    *
**********************************************************************
*                                                                    *
* All rights reserved.                                               *
*                                                                    *
* Redistribution and use in source and binary forms, with or         *
* without modification, are permitted provided that the following    *
* condition is met:                                                  *
*                                                                    *
* - Redistributions of source code must retain the above copyright   *
*   notice, this condition and the following disclaimer.             *
*                                                                    *
* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND             *
* CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,        *
* INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF           *
* MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE           *
* DISCLAIMED. IN NO EVENT SHALL SEGGER Microcontroller BE LIABLE FOR *
* ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR           *
* CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT  *
* OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;    *
* OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF      *
* LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT          *
* (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE  *
* USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH   *
* DAMAGE.                                                            *
*                                                                    *
**********************************************************************
-------------------------- END-OF-HEADER -----------------------------

File    : STM32F4xx_Flash.icf
Purpose : STM32F4xx linker script for application placement in Flash,
          for use with the SEGGER Linker.
Maps    : STM32F401CBUx, STM32F401CBYx, STM32F401CCFx, STM32F401CCUx, 
          STM32F401CCYx, STM32F401CDUx, STM32F401CDYx, STM32F401CEUx, 
          STM32F401CEYx, STM32F401RBTx, STM32F401RCTx, STM32F401RDTx, 
          STM32F401RETx, STM32F401VBHx, STM32F401VBTx, STM32F401VCHx, 
          STM32F401VCTx, STM32F401VDHx, STM32F401VDTx, STM32F401VEHx, 
          STM32F401VETx, STM32F410C8Tx, STM32F410C8Ux, STM32F410CBTx, 
          STM32F410CBUx, STM32F410R8Ix, STM32F410R8Tx, STM32F410RBIx, 
          STM32F410RBTx, STM32F410T8Yx, STM32F410TBYx, STM32F411CCUx, 
          STM32F411CCYx, STM32F411CEUx, STM32F411CEYx, STM32F411RCTx, 
          STM32F411RETx, STM32F411VCHx, STM32F411VCTx, STM32F411VEHx, 
          STM32F411VETx, STM32F412CEUx, STM32F412CGUx, STM32F412RETx, 
          STM32F412REYx, STM32F412REYxP, STM32F412RGTx, STM32F412RGYx, 
          STM32F412RGYxP, STM32F412VEHx, STM32F412VETx, STM32F412VGHx, 
          STM32F412VGTx, STM32F412ZEJx, STM32F412ZETx, STM32F412ZGJx, 
          STM32F412ZGTx, STM32F413CGUx, STM32F413CHUx, STM32F413MGYx, 
          STM32F413MHYx, STM32F413RGTx, STM32F413RHTx, STM32F413VGHx, 
          STM32F413VGTx, STM32F413VHHx, STM32F413VHTx, STM32F413ZGJx, 
          STM32F413ZGTx, STM32F413ZHJx, STM32F413ZHTx, STM32F423CHUx, 
          STM32F423MHYx, STM32F423RHTx, STM32F423VHHx, STM32F423VHTx, 
          STM32F423ZHJx, STM32F423ZHTx, STM32F446MCYx, STM32F446MEYx, 
          STM32F446RCTx, STM32F446RETx, STM32F446VCTx, STM32F446VETx, 
          STM32F446ZCHx, STM32F446ZCJx, STM32F446ZCTx, STM32F446ZEHx, 
          STM32F446ZEJx, STM32F446ZETx, STM32F469AEHx, STM32F469AEYx, 
          STM32F469AGHx, STM32F469AGYx, STM32F469AIHx, STM32F469AIYx, 
          STM32F469BETx, STM32F469BGTx, STM32F469BITx, STM32F469IEHx, 
          STM32F469IETx, STM32F469IGHx, STM32F469IGTx, STM32F469IIHx, 
          STM32F469IITx, STM32F469NEHx, STM32F469NGHx, STM32F469NIHx, 
          STM32F469VETx, STM32F469VGTx, STM32F469VITx, STM32F469ZETx, 
          STM32F469ZGTx, STM32F469ZITx, STM32F479AGHx, STM32F479AGYx, 
          STM32F479AIHx, STM32F479AIYx, STM32F479BGTx, STM32F479BITx, 
          STM32F479IGHx, STM32F479IGTx, STM32F479IIHx, STM32F479IITx, 
          STM32F479NGHx, STM32F479NIHx, STM32F479VGTx, STM32F479VITx, 
          STM32F479ZGTx, STM32F479ZITx
Literature:
  [1]  SEGGER Linker User Guide (https://www.segger.com/doc/UM20005_Linker.html)
  [2]  SEGGER Linker Section Placement (https://wiki.segger.com/SEGGER_Linker_Script_Files)
*/

define memory with size = 4G;

//
// Combined regions per memory type
//
define region FLASH = FLASH1;
define region RAM   = RAM1;

//
// Block definitions
//
define block vectors                        { section .vectors };                                   // Vector table section
define block vectors_ram                    { section .vectors_ram };                               // Vector table section
define block ctors                          { section .ctors,     section .ctors.*, block with         alphabetical order { init_array } };
define block dtors                          { section .dtors,     section .dtors.*, block with reverse alphabetical order { fini_array } };
define block exidx                          { section .ARM.exidx, section .ARM.exidx.* };
define block tbss                           { section .tbss,      section .tbss.*  };
define block tdata                          { section .tdata,     section .tdata.* };
define block tls with fixed order           { block tbss, block tdata };
define block tdata_load                     { copy of block tdata };
define block heap  with auto size = __HEAPSIZE__,  alignment = 8, readwrite access { };
define block stack with      size = __STACKSIZE__, alignment = 8, readwrite access { };

//
// Explicit initialization settings for sections
// Packing options for initialize by copy: packing=auto/lzss/zpak/packbits
//
do not initialize                           { section .non_init, section .non_init.*, section .*.non_init, section .*.non_init.* };
do not initialize                           { section .no_init, section .no_init.*, section .*.no_init, section .*.no_init.* };   // Legacy sections, kept for backwards compatibility
do not initialize                           { section .noinit, section .noinit.*, section .*.noinit, section .*.noinit.* };       // Legacy sections, used by some SDKs/HALs
do not initialize                           { block vectors_ram };
initialize by copy with packing=auto        { section .data, section .data.*, section .*.data, section .*.data.* };               // Static data sections
initialize by copy with packing=auto        { section .fast, section .fast.*, section .*.fast, section .*.fast.* };               // "RAM Code" sections

#define USES_ALLOC_FUNC                                   \
  linked symbol malloc || linked symbol aligned_alloc ||  \
  linked symbol calloc || linked symbol realloc

initialize by calling __SEGGER_init_heap if USES_ALLOC_FUNC { block heap };                        // Init the heap if one is required
initialize by calling __SEGGER_init_ctors    { block ctors };                                      // Call constructors for global objects which need to be constructed before reaching main (if any). Make sure this is done after setting up heap.

//assert with warning "free() linked into application but there are no calls to an allocation function!" {
//  linked symbol free => USES_ALLOC_FUNC
//};

assert with error "heap is too small!"              { USES_ALLOC_FUNC => size  of block heap >= 48 };
assert with error "heap size not a multiple of 8!"  { USES_ALLOC_FUNC => size  of block heap % 8 == 0 };
assert with error "heap not correctly aligned!"     { USES_ALLOC_FUNC => start of block heap % 8 == 0 };

//
// Explicit placement in FLASHn
//
place in FLASH1                             { section .FLASH1, section .FLASH1.* };
//
// FLASH Placement
//
place at start of FLASH                     { block vectors };                                      // Vector table section
place in FLASH with minimum size order      { block tdata_load,                                     // Thread-local-storage load image
                                              block exidx,                                          // ARM exception unwinding block
                                              block ctors,                                          // Constructors block
                                              block dtors,                                          // Destructors block
                                              readonly,                                             // Catch-all for readonly data (e.g. .rodata, .srodata)
                                              readexec                                              // Catch-all for (readonly) executable code (e.g. .text)
                                            };

//
// Explicit placement in RAMn
//
place in RAM1                               { section .RAM1, section .RAM1.* };
//
// RAM Placement
//
place at start of RAM                       { block vectors_ram };
place in RAM                                { section .fast, section .fast.* };                     // "ramfunc" section
place in RAM with auto order                { block tls,                                            // Thread-local-storage block
                                              readwrite,                                            // Catch-all for initialized/uninitialized data sections (e.g. .data, .noinit)
                                              zeroinit                                              // Catch-all for zero-initialized data sections (e.g. .bss)
                                            };
place in RAM                                { block heap };                                         // Heap reserved block
place at end of RAM                         { block stack };                                        // Stack reserved block at the end
